.footer{
    margin-top: 15px;
    height: 10%;
    /* border: solid yellow 2px; */
   
    /* background-color: #43B39B; */
    /* border: solid yellow 2px; */
}
.footer-icons{
    background-color: yellow;
}