.header{
    background-image: url('../images/GreenLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: 10vh;
   

}