.container{
    background-color: black;
    height:100vh
}

.main{
    background-image: url('../images/login.jpeg');
    background-size: cover;
    background-position: center;
    height: 66vh;
    
}